.app {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: Consolas, sans-serif;
}

.info {
    text-align: center;
    max-width: 70%;
}

.logo {
    width: 100px;
}

.trigger-button {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.message-img {
    max-width: 250px;
}

.token {
    max-width: 250px;
    word-break: break-all;
    height: fit-content;
}

.token > span {
    text-decoration: underline dotted;
    padding-bottom: 10px;
    cursor: pointer;
}