.app {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: Consolas, sans-serif;
}

.info {
    text-align: center;
}

.logo {
    width: 100px;
}

.trigger-button {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.message-img {
    max-width: 300px;
}